@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"]</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <script src="~/Lib/jquery-1.10.2.js"></script>
    <script src="~/Lib/jquery.form.js"></script>
    <script src="~/Lib/jquery.validate.js"></script>
    <script src="~/Lib/modernizr-2.6.2.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/Lib/app.js"></script>

    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            @Html.Partial("~/Views/Shared/_Header.cshtml")
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                @Html.Partial("~/Views/Shared/_Scroll.cshtml")
            </div>
        </div>

        <div class="layui-body">
            @RenderBody()
        </div>

        <div class="layui-footer">
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>

    <script>
        layui.use('element',
            function () {
                var $ = layui.jquery, element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

                //Hash地址的定位
                var layid = location.hash.replace(/^#test=/, '');
                element.tabChange('test', layid);

                element.on('tab(test)',
                    function (elem) {
                        location.hash = 'test=' + $(this).attr('lay-id');
                    });
            });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>